.reviews {
    width: 100%;
    height: max-content;
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(500px, 1fr));
    grid-gap: 10px;
}

.grid-item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    resize: both;
}

.quote {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50px;
    left: -50px;
}

.quote path {
    fill: #fff;
}

@media (max-width: 768px) {
    .reviews {
        padding: 0px 10px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill,  minmax(300px, 1fr));
    }
}