@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  text-align: justify;
  color: #fff;
}

body {
  background-color: #1E1E1E;
}

main {
  margin-top: 90px;
  min-height: 80vh;
}

/*--------*/
/* Navbar */
/*--------*/
.navbar {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  height: 90px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  max-width: 100%;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: red;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: all 0.5s ease-in-out;
}

.navbar a img {
  max-width: 100%;
  height: auto;
}

.navbar li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a.clicked {
  color: red;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-right: 100px;
  padding: 0;
}

.navbar li {
  margin-left:20px;
  font-size: 1.2rem;
}

.menu-btn {
  z-index: 6;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  display: none;
}

@media (max-width:1000px) {
  /*Navbar*/
  .navbar li > a:hover:before {
    visibility: hidden;
  }

   /*Menu Button*/
   .menu-btn {
      display: flex;
      position: relative;
      right: 20px;
      aspect-ratio: 1;
      margin-left: 30px;
      max-width: 60px;
      height: auto;
   }

   .menu-btn_burger {
      width: 36px;
      height: 4px;
      background: #fff;
      max-width: 100%;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
   }

   .menu-btn_burger::after, .menu-btn_burger::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 4px;
      background: #fff;
      max-width: 100%;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
   }

   .menu-btn_burger::before {
      transform: translateY(-12px);
   }

   .menu-btn_burger::after {
      transform: translateY(12px);
   }

   /* Menu Animation */
   .menu-btn.open .menu-btn_burger {
      background: transparent;
   }

  .menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg);
   }

  .menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg);
   }

  .menu-btn ~ ul {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    top: 0px;
    right: 0px;
    transition: all 1s ease-in-out;
    list-style: none;
    margin-right: 20px;
    padding: 0;
    position: absolute;
  }

  .menu-btn ~ ul li {
    margin: 20px; 
  }

  .menu-btn.open ~ ul{
    visibility: visible;
    position: fixed;
    transform: translateY(100px);
    background-color: #2F2F2F;
    border-radius: 10px;
    opacity: 1;
    padding: 0px;
  }

  .menu-btn ~ ul li{
    margin: 20px;
    font-size: 1.2rem;
    position: relative;
  }

  .menu-btn ~ ul li a{
    margin: 0px
  }

  .menu-btn ~ ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -20px;
    left: 0;
    background-color: #fff;
  }
}

/* Footer */
.footer {
  position: absolute;
  color: white;
  background-color: #000000;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer h6 {
  font-size: 20px;
  margin: 20px;
}

.footer .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 10px;
  max-width: 100%;
}

.footer .social svg {
  max-width: 50px;
  height: 50px;
  margin: 10px;
}

.footer p {
  margin: 20px;
  font-size: 15px;
}

/*------------*/
/* Animations */
/*------------*/

/* Fade In */
.fade-in {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: none;
}

.fade-in.visible {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
  transition: all 0.75s ease-out;
}

@media(prefers-reduced-motion) {
  .fade-in {
    transition: none;
  }
}

/* Hacker Text Effect */
.hacker {
  font-family: 'Space Mono', monospace;
}