.membership {
    display: block;
}

.membership .title {
    display: grid;
    background-image: url('/images/watercolor-backdrop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
    min-height: 40vh;
    align-items: center;
}

.membership .title-inner-wrapper {
    margin: 50px;
}

@media (max-width: 768px) {
    .membership .title-inner-wrapper {
        margin: 20px;
    }
}

.membership .title h1 {
    font-size: clamp(2.1rem, 5vw, 4rem);
    margin: 0;
    color: #fff;
    word-break: break-word;
}

.membership .underscore {
    overflow: visible;
    background-color: #7bb1ff;
    width: 2rem;
    height: 10px;
    border-top-right-radius: 10px;
    margin-top: 0px;
}

/* Main Section */

.membership .description {
    width: 100vw;
    max-width: 100%;
    background-color: #fff;
    color: #000;
    padding: 50px 0px;
}

@media (max-width: 768px) {
    .membership .description {
        padding: 20px 0px;
    }
}

.membership .description p {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
    line-height: 1.5;
    margin: 0 clamp(10px, 10vw, 10vw);
}

.membership .benefit {
    position: relative;
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background-color: #fffffff5;
    color: #000;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.membership #benefit-1 {
    grid-template-columns: 2fr 1fr;
}

.membership #benefit-2 {
    grid-template-columns: 1fr 2fr;
}

.membership #benefit-3 {
    grid-template-columns: 2fr 1fr;
}

.membership #benefit-4 {
    grid-template-columns: 1fr 2fr;
}

@media (max-width: 768px) {
    .membership #benefit-1, .membership #benefit-3 {
        grid-template-columns: none;
        grid-template-rows: 2fr 1fr;
    }

    .membership #benefit-2, .membership #benefit-4 {
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
    }

    .membership .benefit {
        border-bottom: red 2px solid;
    }
}

.membership .benefit .benefit-inner-wrapper {
    height: auto;
     margin: 30px;
}

.membership .benefit .benefit-image {
    width: 100%;
    height: 100%;    
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#benefit-1-image {
    background-image: url('/images/shopping-bags-3000x2000.webp');
}

#benefit-2-image {
    background-image: url('/images/race-3000x2000.webp');
}

#benefit-3-image {
    background-image: url('/images/birthday-3000x2000.webp');
}

#benefit-4-image {
    background-image: url('/images/gift-3000x2000.webp');
}