.about-us {
    overflow: hidden;
}

.about-us .flex-wrapper {
    display: flex;
    align-items: flex-start;
}

.about-us h1 {
    text-align: center;
    font-size: 12vw;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
}

.about-us img {
    clip-path: polygon(0 24%, 1% 87%, 0 100%, 17% 100%, 84% 100%, 100% 84%, 100% 14%, 100% 0, 89% 0, 18% 0, 0 0);
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.about-us .drop-shadow-wrapper {
    filter: drop-shadow(10px 10px 0.5rem #000) drop-shadow(-10px -10px 0.5rem #000) opacity(0.5);
}

.about-us .text-wrapper {
    height: 80%;
    width: 60%;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us .text-wrapper p {
    margin: 5px;
}

.about-us .section-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.about-us h2 {
    margin:20px 
}

.about-us .motto {
    text-align: center;
}

@media (max-width: 768px) {
    .about-us .text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.75rem;
    }
}