.about-us {
    overflow: visible;
}

/* Slogan */
.about-us .slogan {
    position: relative;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: clamp(400px, 30vh, 30vh);
    display: block;
    background: url('https://i.ibb.co/Dfm8XW6/hand-painted-watercolor-pastel-sky-background-23-2148902771.webp') no-repeat center center/cover;
}
.about-us .our-mission {
    display: block;
    color: #000;
    font-size: 2rem;
    margin: 0;
}

.about-us .slogan-text {
    background: linear-gradient(to top right, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff);
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 5rem;
}

/* Description */
.about-us .flex-wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: clamp(10px, 10vw, 10vw);
    margin-right: clamp(10px, 10vw, 10vw);
}

.about-us .title h1 {
    text-align: center;
    font-size: clamp(1rem, 10vh, 10rem);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 20px 0 0 0;
}

.about-us .underscore {
    overflow: visible;
    background-color: #7bb1ff;
    width: 2rem;
    height: 8px;
    border-top-right-radius: 10px;
    margin-top: 5px;
}

.about-us img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 30vw;
    height: auto;
    border-radius: 5%;
    margin: 10px;
}

.about-us .drop-shadow-wrapper {
    filter: drop-shadow(10px 10px 0.5rem #000) drop-shadow(-10px -10px 0.5rem #000) opacity(0.5);
}

.about-us .section-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.about-us .section-wrapper p {
    position: relative;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 1.2rem;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .about-us {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-us img {
        width: 90%;
        height: auto;
    }
    .about-us .section-wrapper {
        display: block;
    }

    .about-us .section-wrapper p {
        margin: 20px 0 0 0;
        font-size: 0.75rem;
    }
}