.about-us img {
    clip-path: polygon(51% 7%, 78% 10%, 82% 50%, 96% 84%, 38% 100%, 1% 49%, 19% 24%);
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
    height: auto;
}

.about-us .drop-shadow-wrapper {
    filter: drop-shadow(10px 10px 0.5rem #000) drop-shadow(-10px -10px 0.5rem #000) opacity(0.5);
}

.about-us .flex-wrapper {
    position: absolute;
    height: auto;
    top: 50%;
    right: 0px;
    width: 50%;
    transform: translateY(-50%);
}

.about-us .section-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.about-us h2 {
    margin:20px 
}

@media (max-width: 768px) {
    .about-us .flex-wrapper {
        position: relative;
        font-size: 0.75rem;
        width: 100%;
        max-width: 100%;
        height: max-content;
    }
}